<!-- Only render this if there's an authenticated user -->
<!-- <ng-container *ngIf="authenticator.route === 'authenticated'">
  <div class="mx-auto text-center my-4">
    Welcome
  </div>
</ng-container> -->

<!-- Render sign-in screen otherwise with authenticator -->
<!-- <ng-container *ngIf="authenticator.route !== 'authenticated'"> -->


<mat-toolbar *ngIf="authenticator.route !== 'authenticated'">
  <img class="logo" alt="Amplify logo" src="../../assets/Logo_Rectangle2.png" />
</mat-toolbar>
<div *ngIf="authenticator.route !== 'authenticated'" class="mx-auto text-center my-4">

  <h1 style="padding: var(--amplify-space-large); text-align: center; font-weight: var(--amplify-font-weights-bold);"
    class="amplify-heading--2 ">
    Start your Job Search here!
  </h1>
  <h2 style="padding: var(--amplify-space-large); text-align: center" class="amplify-text">
    Get Started by creating an account.
  </h2>
</div>
<amplify-authenticator>

  <ng-template amplifySlot="authenticated" let-user="user" let-signOut="signOut">
    <mat-toolbar>
      <img (click)="goHome()" class="logo" alt="Amplify logo" src="../../assets/Logo_Rectangle2.png" />
      <button *ngIf="router?.url!=('/jobs')" (click)="goToJobPostings()" color="accent" mat-raised-button
        class="signout-button ml-4" aria-label="Example icon-button with menu icon">
        Home
      </button>
      <button (click)="goToMyJobPostings()" color="accent" mat-raised-button class="signout-button ml-4"
        aria-label="Example icon-button with menu icon">
        My Jobs
      </button>
      <span class="spacer"></span>
      <button mat-button [matMenuTriggerFor]="menu"> <span
          class="text-sm mx-2">{{authService.user?.signInDetails?.loginId}}</span><mat-icon
          class="align-middle ">account_circle</mat-icon></button>

      <mat-menu #menu="matMenu" xPosition="after">
        <button (click)="editProfile()" mat-menu-item>Edit Profile</button>
        <button (click)="signOutAndGoHome(signOut)" mat-menu-item>Sign out</button>
      </mat-menu>
      <!-- <span class="text-sm mr-4">{{authService.user?.signInDetails?.loginId}}</span>
      <button (click)="signOutAndGoHome(signOut)" color="accent" mat-raised-button class="signout-button"
        aria-label="Example icon-button with menu icon">
        Sign out
      </button> -->
    </mat-toolbar>
    <router-outlet></router-outlet>

  </ng-template>
</amplify-authenticator>

<!-- </ng-container> -->