<!-- Only render this if there's an authenticated user -->
<!-- <ng-container *ngIf="authenticator.route === 'authenticated'">
  <div class="mx-auto text-center my-4">
    Welcome
  </div>
</ng-container> -->

<!-- Render sign-in screen otherwise with authenticator -->
<!-- <ng-container *ngIf="authenticator.route !== 'authenticated'"> -->


<mat-toolbar *ngIf="authenticator.route !== 'authenticated'">
  <img class="logo" alt="Amplify logo" src="../../assets/Logo_Rectangle2.png" />
</mat-toolbar>
<div *ngIf="authenticator.route !== 'authenticated'" class="mx-auto text-center my-4">

  <h1 style="padding: var(--amplify-space-large); text-align: center; font-weight: var(--amplify-font-weights-bold);"
    class="amplify-heading--2 ">
    Start your Job Search here!
  </h1>
  <h2 style="padding: var(--amplify-space-large); text-align: center" class="amplify-text">
    Get Started by creating an account.
  </h2>
</div>
<amplify-authenticator>

  <ng-template amplifySlot="authenticated" let-user="user" let-signOut="signOut">
    <mat-toolbar>
      <img class="logo" alt="Amplify logo" src="../../assets/Logo_Rectangle2.png" />
      <span class="spacer"></span>
      <button (click)="signOutAndGoHome(signOut)" color="accent" mat-raised-button class="signout-button"
        aria-label="Example icon-button with menu icon">
        Sign out
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>

  </ng-template>
</amplify-authenticator>

<!-- </ng-container> -->