<ng-container *ngIf="job">

  <div class="m-4 p-2">
    <div class="flex items-center justify-between">
      <div class="flex items-center ">
        <div class="image-container w-24 h-24 mr-4">
          <img src="{{job?.companyProfile?.logo}}" alt="Logo" class="w-24 h-24" />
        </div>
        <div>
          <h2 class="text-3xl font-bold">{{job.title}}
            <mat-chip *ngIf="job.isRemote" class="mat-chip-remote " color="accent">REMOTE</mat-chip>
          </h2>
          <p class="text-2xl text-gray-500">{{job.companyProfile?.name}} <button
              (click)="launchWebsite(job?.companyProfile?.website)" *ngIf="job?.companyProfile?.website"
              mat-icon-button><mat-icon class="text-xl align-top">public</mat-icon></button> </p>
          <p class="text-lg text-gray-500">{{job.city}}, {{job.country}}</p>
        </div>
      </div>
      <!-- <div *ngIf="job.isRemote" class="flex items-center">
        <mat-chip class="mat-chip" color="accent">REMOTE</mat-chip>
      </div> -->
      <div class="flex flex-col items-center">
        <!-- <h2 class="text-2xl font-bold">{{job.salary | currency: 'USD'}}</h2> -->
        <button *ngIf="loggedInUser?.type !='COMPANY' && !jobApplication" (click)="applyJob()" class="w-64 h-64 p-4"
          mat-raised-button color="primary">
          Apply Now
        </button>
        <button *ngIf="loggedInUser?.type !='COMPANY' && jobApplication" (click)="applyJob()" class="w-64 h-64 p-4"
          mat-raised-button disabled color="primary">
          {{jobApplication.status}}
        </button>
        <div class="flex">
          <button *ngIf="loggedInUser?.type =='COMPANY' && job?.companyId == authService?.userProfile?.id"
            (click)="editJob()" class="w-32 h-64 p-4" mat-raised-button color="primary">
            Edit

          </button>
          <button *ngIf="loggedInUser?.type =='COMPANY' && job?.companyId == authService?.userProfile?.id"
            (click)="deleteJob()" color="warn" class="w-32 h-64 p-4 ml-2" mat-raised-button>
            Delete
          </button>
        </div>
        <button *ngIf="loggedInUser?.type =='COMPANY' && job?.companyId == authService?.userProfile?.id"
          (click)="viewApplications()" class="w-64 h-64 p-4 mt-2" mat-raised-button color="accent">
          View Applications

        </button>
      </div>
    </div>
    <div class="flex flex-wrap mt-4 justify-between">
      <div class="flex flex-wrap">
        <mat-chip *ngFor="let skill of job.skills"
          class="badge-category bg-gray-200 text-gray-700 rounded-full text-lg font-semibold mr-2 mb-2 px-4 py-2">{{skill}}</mat-chip>
      </div>

      <div>
        <p class="text-lg text-gray-600">Posted {{job.createdAt | timeAgo}}
        </p>
      </div>
    </div>
    <div class="mt-4">
      <h1 class="font-bold text-2xl mt-4">Job Description</h1>
      <h1 *ngIf="job.domain" class="font-bold text-lg my-2">Domain: {{job.domain}}</h1>
      <p class="text-lg multi_lines_text" [innerHTML]="job.description"></p>
    </div>
  </div>

</ng-container>