.card-job {
  width: 100%;
}

.badge-new {
  @apply bg-green-500 text-white px-2 py-1 rounded-full text-xs font-semibold;
}

.badge-verified {
  @apply bg-blue-500 text-white px-2 py-1 rounded-full text-xs font-semibold;
}

.badge-category {
  @apply bg-gray-200 text-gray-700 px-2 py-1 rounded-full text-xs font-semibold mr-2 mb-2;
}

.flag-icon {
  @apply mr-2;
}

.mat-mdc-card {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  /* transition: transform 0.3s ease, background-color 0.3s ease; */
  /* cursor: pointer; */
}

/* .mat-mdc-card:hover { */
/* background-image: linear-gradient(180deg, #683ab76c, white); */
/* color: #ffffff; */
/* transform: scale(1.01); */
/* } */

.image-container {
  border-radius: 50%;
  border: 2px solid #ddd;
  overflow: hidden;
  img {
    object-fit: cover;
  }
}

.mat-chip {
  /* background-color: #ffd740 !important; */
}
.mat-chip-accepted {
  background-color: #00da5e !important;
  color: white !important;
}

.mat-chip-rejected {
  background-color: rgb(255, 54, 54) !important;
  color: white !important;
}

.github-button {
  background-color: #333 !important ;
  color: #fff !important; /* Text color */
}
.linkedin-button {
  background-color: #0077b5 !important ;
  color: #fff !important; /* Text color */
}
